<div class="body">
  <div class="container">
    <div class="row">
      <%= render "left_side" %>
      <div class="col-xs-9">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td></td>
              <td>
                <%= @book.title %>
              </td>
              <td>
                <%= @book.opinion %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>